RESEND_API_KEY=re_xxxxxxxxx
CONTACT_SENDER_EMAIL=kontakt@example.com
CONTACT_SENDER_NAME=CarMarkt Website
CONTACT_RECIPIENT_EMAIL=info@carmarkt.net
NUXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAA...
NUXT_TURNSTILE_SECRET_KEY=0x4AAAA...
